*.pyc
.project
.pydevproject
/sqlite.db
.DS_Store
.idea/
venv/
cloud_copasi/settings.py
cloud_copasi/wsgi.py
cloud_copasi/cloud_copasi_db
copasi/
log/cloud-copasi.log
log/
.bosco/
user-files/
cloud_copasi/logfile
