# cloud-copasi-daemon.service systemd-style service specification
# This can be copied into somewhere like /etc/systemd/system/
# Then run:
# sudo systemctl enable cloud-copasi-daemon.service
# . . . to enable startup on boot, and . . .
# sudo systemctl start cloud-copasi-daemon.service
# . . . to immediately start the service

[Unit]
Description=cloud-copasi daemon to periodically poll the bosco queue for completed jobs
Before=multi-user.target
Before=graphical.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=forking
User=cloudcopasi
Restart=yes
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/home/cloudcopasi/cloud-copasi/cloud-copasi-daemon.sh start
ExecStop=/home/cloudcopasi/cloud-copasi/cloud-copasi-daemon.sh stop
