<!DOCTYPE html>
{% extends 'baseN.html' %}

{% load static %}

{% block bodyclass %}homepage{% endblock %}

{% block header_content %}
<!-- Banner -->
<!-- ********************************************************************* -->
<div class="container">
  <div class="row">
    <div id="banner">
      <h1>Cloud COPASI</h1><br>
      <h3>Biochemical Simulation And Analysis <br>
        Using Cloud Computing</h3>
        <!-- <p>Find out more and sign up for a free account today</p> -->
        <!-- <a href="#" class="button button-big button-icon button-icon-check">Learn more</a> -->
        <!-- <a href="#" class="btn btn-primary btn-lg"> Learn More</a> -->
        <a id="learn-more" href="{% url 'helpN' %}" class="btn btn-primary btn-lg">Learn more</a>
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}

<!-- Features -->
<!-- ********************************************************************* -->

<div class="container">
  <div class="features">

    <div class="row">

      <div class="col-4">
        <h3>Powered By COPASI</h3>
        <p>Backend simulation on COPASI</p>
      </div>
      <div class="col-4">
        <h3>Support AWS EC2 Pools</h3>
        <p>Launch a cloud-based compute pool</p>
      </div>

      <div class="col-4">
        <h3>Parallel Computation</h3>
        <p> Connect existing computational resources </p>
      </div>



    </div>

  </div>
</div>


<!-- Description -->
<!-- ********************************************************************* -->

<div class="container">
  <div class="row">

    <div class="description">
      <p>
        Cloud-COPASI is a web-based tool for running <span class="bold">
          computationally intensive</span> simulation and analysis tasks in parallel
          on a high-throughput computing pool. Cloud-COPASI can
          <a href="#">connect to existing computing pools</a>,
          or provides a simple interface for <a href="#">
            launching a new computing pool</a> using the
            <a href="http://aws.amazon.com">Amazon Elastic Compute Cloud (EC2)</a>.
      </p>

      <p>
        Cloud-COPASI can run <a href="#">a number of simulation
        and analysis tasks</a>, including <a href="#"> global sensitivity analyses</a>,
        <a href="#">stochastic simulations</a>, <a href="#">parameter scans</a>,
        <a href="#">optimizations</a>, and <a href="#">parameter fitting</a>.
        Each task is automatically split into a number of smaller jobs, which are
        executed in parallel, allowing for significant speed-ups in running time.
      </p>

      <p>
        Models must be prepared using <a href="http://www.copasi.org">COPASI</a>
        (COmplex PAthway SImulator), a widely used free, open-source, cross-platform
        simulation tool.
      </p>

    </div>

  </div>

</div>
{% endblock %}
