{% extends "left_sidebar.html" %}

{% block sidebar %}
{% include "account/sidebar.html" %}
{% endblock %}

{% block content %}
<article>
    <header class="major">
        <h2>Compute pool details</h2>
        <span class="byline">Compute pool details for <span style="font-weight:bolder">{{condor_pool.name}}</span></span>
    </header>
    
    <h4>Compute pool information</h4>
    <div class="tablelist">
        <table>
            <tr>
                <th>Name</th>
                <th>Number of nodes*</th>
                <th>CPU hours used</th>
            </tr>
            <tr>
                <td>{{condor_pool.name}}</td>
                <td>{{instances.count}}</td>
                <td>Not implemented</td>
            </tr>
        </table>
        <p>*Includes Master node</p>
    </div>
        
    <p>
        <a class="button button-alt button-hspace" href="{% url 'pool_terminate' pool_id=condor_pool.id %}">Terminate pool</a>
        <a class="button button-icon button-icon-check button-hspace" href="">Scale up</a>
        <a class="button button-icon button-icon-check button-hspace" href="">Scale down</a>
    </p>

    <h4>Master node status:</h4>
    <div class="tablelist">
        <table>
            <tr>
                <th>Instance ID</th>
                <th>Type</th>
                <th>State</th>
                <th>Uptime</th>
                <th>Status</th>
            </tr>
            {% if condor_pool.master %}
            <tr>
                <td>{{ condor_pool.master.instance_id }}</td>
                <td>{{ condor_pool.master.instance_type }}</td>
                <td>{{ condor_pool.master.get_state }}</td>
                <td>Not implemented</td>
                <td>Not implemented</td>
            </tr>
            {% endif %}
        </table>
    </div>
    
    <h4>Compute node status:</h4>
    <div class="tablelist">
        <table>
            <tr>
                <th>Instance ID</th>
                <th>Type</th>
                <th>State</th>
                <th>Uptime</th>
                <th>Status</th>
            </tr>
            {% for instance in compute_instances %}
            <tr>
                <td>{{ instance.instance_id }}</td>
                <td>{{ instance.instance_type }}</td>
                <td>{{ instance.get_state }}</td>
                <td>Not implemented</td>
                <td>Not implemented</td>
            </tr>
            {% endfor %}
        </table>
    </div>

        
</article>
{% endblock %}
