{% extends "left_sidebar.html" %}

{% block sidebar %}
{% include "account/sidebar.html" %}
{% endblock %}


{% block content %}
<article>
    <header class="major">
        <h2>Keys</h2>
        <span class="byline">Your AWS keypairs</span>
    </header>
    
    <p>You must have at least 1 AWS access key associated with your account in order to use Cloud COPASI. A Virtual Private Cloud (VPC) must be configured for each access key in order to run jobs.</p>
    
    <p><a class="button button-icon button-icon-check" href="{% url 'my_account_keys_add' %}">Add new key</a></p>
    
    <div class="tablelist">
        <table>
            <tr>
                <th>Key name</th>
                <th>Access key ID</th>
                <th>Secret access key</th>
                <th>Delete?</th>
                <th>Status</th>
            </tr>
        {% for key in access_keys %}
            <tr>
                <td>{{ key.name }}</td>
                <td>{{ key.access_key_id}}</td>
                <td style="font-style:italic;">**Hidden**</td>
                <td><a class="button button-narrow button-alt" href="{% url 'my_account_keys_delete' key_id=key.id %}">Delete</a></td>
                <td><a href="{% url 'vpc_config' key_id=key.id %}">{% if key.vpc != "NULL" %}{{key.vpc.get_status}}{% else %}No VPC configured{% endif %}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    
</article>
{% endblock %}
