{% extends "right_sidebar.html" %}

{% block sidebar %}
<section>
    <header class="major">
        <h2>Trouble logging in?</h2>
    </header>

        <p>
            <a href="" class="button button-fill button-alt button-icon button-icon-info">Reset your password</a>
        </p>
        <p>
            <a href="" class="button button-fill button-alt button-icon button-icon-check">Sign up for an account</a>
        </p>
    
</section>
{% endblock %}


{% block content %}
<article>
    <section>
    <header class="major">
        <h2>Sign in to your account</h2>
    </header>
    
    {% include "form.html" with submit_text="Sign in" %}

</section>

</article>
{% endblock %}
