{% extends "base.html" %}

{% block bodyclass %}left-sidebar{% endblock %}

{% block main_content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="main-wrapper-style2">
        <div class="inner">
            <div class="5grid-layout">
                <div class="row">
                    <div class="4u">
                        <div id="sidebar">

                            <!-- Sidebar -->
                            {% block sidebar %}
                            {% endblock %}                    
                        </div>
                    </div>
                    <div class="8u mobileUI-main-content">
                        <div id="content">

                            <!-- Content -->
                        {%block content %}

                    {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="main-wrapper-style3">
        <div class="inner">
            <div class="5grid-layout">
                <div class="row">
                    <div class="8u">

                        <!-- Article list -->
                            <section class="box-article-list">
                                <h2 class="icon icon-news">From the blog</h2>
                                
                                <!-- Excerpt -->
                                    <article class="box-excerpt">
                                        <a href="#" class="image image-left"><img src="{{ STATIC_URL }}images/pic04.jpg" alt="" /></a>
                                        <div>
                                            <header>
                                                <span class="date">December 20, 2012</span>
                                                <h3><a href="#">On the eve of the Mayanocalypse</a></h3>
                                            </header>
                                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
                                            semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
                                            feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                                        </div>
                                    </article>

                                <!-- Excerpt -->
                                    <article class="box-excerpt">
                                        <a href="#" class="image image-left"><img src="{{ STATIC_URL }}images/pic05.jpg" alt="" /></a>
                                        <div>
                                            <header>
                                                <span class="date">December 15, 2012</span>
                                                <h3><a href="#">Life as a self-aware meme</a></h3>
                                            </header>
                                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
                                            semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
                                            feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                                        </div>
                                    </article>

                                <!-- Excerpt -->
                                    <article class="box-excerpt">
                                        <a href="#" class="image image-left"><img src="{{ STATIC_URL }}images/pic06.jpg" alt="" /></a>
                                        <div>
                                            <header>
                                                <span class="date">December 12, 2012</span>
                                                <h3><a href="#">Facepalm moments in history</a></h3>
                                            </header>
                                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
                                            semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
                                            feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                                        </div>
                                    </article>

                            </section>
                    </div>
                    <div class="4u">
                    
                        <!-- Spotlight -->
                            <section class="box-spotlight pad-left">
                                <h2 class="icon icon-paper">Spotlight</h2>
                                <article>
                                    <a href="#" class="image image-full"><img src="{{ STATIC_URL }}images/pic07.jpg" alt=""></a>
                                    <header>
                                        <h3><a href="#">Why staplers matter</a></h3>
                                        <span class="byline">They hold things together</span>
                                    </header>
                                    <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus semper mod 
                                    quisturpis nisi consequat ornare in, hendrerit in lectus semper mod quis eget mi quat etiam 
                                    lorem. Phasellus quam turpis, feugiat sed et lorem ipsum dolor consequat dolor feugiat sed
                                    et tempus consequat etiam.</p>
                                    <p>Lorem ipsum dolor quam turpis, feugiat sit amet ornare in, hendrerit in lectus semper 
                                    mod quisturpis nisi consequat etiam lorem sed amet quam turpis.</p>
                                    <footer>
                                        <a href="#" class="button button-alt button-icon button-icon-paper">Continue Reading</a>
                                    </footer>
                                </article>
                            </section>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
</div>
{% endblock %}
